.costs {
    text-align: left;
    background-color: #d3f9ea;
    &-form {
        &-header {
            text-align: center;
            font-weight: bold;
        }
        &-sub-header {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }
}