.costs {
    text-align: left;
    background-color: #d3f9ea;
    &-form {
        &-header {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            margin-top: 20px;
        }
        &-sub-header {
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        &-explainer {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 18px;
        }
    }
}