.us-energy {

    &-header {
        margin: 1rem .5rem;

        @media @mobile {
            margin: 15px 0;
        }
    }

    &-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    &-paragraph {
        text-align: left;
        font-size: 1.4rem;
    }

    &-map {

        &-title {
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
        }
        &-text {
            text-align: left;
            font-size: 1.4rem;
            margin-left: 8px;
        }
        &-loading {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 26px;
            font-weight: bold;
        }

        &-container {
            margin: 30px auto;
        }

        &-filter {
            &-button {
                width: 300px;
                text-align: left;
                &-item {
                    margin: auto;
                }
                &-text {
                    font-weight: bold;
                    font-size: 1.6rem;
                }
                &-container {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                &-holder {
                    padding: 0 10%;
                }
            }
        }
    }
    
}

