.bar-chart {
    margin: 10px auto;
    
    &-title {
        text-align: center;
        font-weight: bold;
        font-size: 22px;

        @media @mobile {
            margin: 10px 10px;
        }
    }
}