.material-ui-nav {
    display: flex;
    background-color: #91e0c0 !important;
    
    &-logo {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 50px;
    }

    &-item {
        font-weight: bold !important;
        font-size: 22px !important;

        &-right {
            margin-left: auto;
        }
    }

    &-dropdown {
        line-height: 50px !important;
        margin-right: -35px !important;
        margin-top: -8px;
        font-weight: bold !important;
        font-size: 22px !important;
    }
}