.local-energy {
    &-sources {
        &-container {
            border: 1 px solid black;
        }
    }
    &-source {
        &-name {
            font-weight: bold;
        }
        &-amount {

        }
    }
    &-map {
        width: 400px;
        height: 300px;
    }

    &-comparison {
        margin: 1rem 1rem;
        text-align: left;
        &-summary {
            margin: auto;
        }
        &-graph {
            text-align: center;
        }
        &-source {
            font-size: 1rem;
        }
    }
}

.map-google {
    &-info-window {
        &-utility {
            font-weight: bold;
            font-size: 1.3rem;
        }
        &-plant {
            font-size: 1rem;
        }
        &-amount {
            font-size: 1rem;
        }
    }
}