.footprint {
  margin-left: 10%;
  margin-right: 10%;
}
.footprint-main {
  display: initial;
}
.footprint-form {
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #d3f9ea;
}
.footprint-form-title {
  margin-top: 0px;
  font-weight: bold;
  border: 1px solid gray;
  text-align: center;
  background-color: white;
}
.footprint-form-header {
  font-weight: bold;
  text-align: center;
}
.footprint-form-subtext {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  text-align: left;
}
.footprint-form-sub-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.footprint-form-sub-header-description {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.footprint-form-paragraphs {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}
.footprint-form-question {
  margin-top: 10px;
  font-weight: bold;
}
.footprint-form-question-name {
  font-size: 18px;
  font-weight: bold;
}
.footprint-form-question-subtext {
  font-size: 18px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 20px;
}
.footprint-form-question-below-text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footprint-form-question-boolean {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footprint-form-bottom-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 30px;
}
.footprint-form-submit-invalid {
  margin: 15px 0;
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.form-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}
.results {
  display: inline;
  text-align: center;
  font-weight: normal;
}
.results-changer {
  text-align: left;
  margin-bottom: 20px;
}
.results-changer-row {
  margin-left: 15px;
}
.results-changer-row-explainer {
  margin-left: 15px;
}
.results-text {
  text-align: left;
}
.results-title {
  text-align: left;
  font-size: 33px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.average-american {
  min-width: 650px;
  text-align: center;
  font-size: 18px;
}
.average-american-flex {
  display: flex;
  justify-content: center;
}
.average-american-vs-you-total {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}
.average-american-divider {
  border-left: solid black 2px;
}
.average-american-compare {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 22px;
}
.average-american-compare-subtext {
  font-size: 18px;
  margin-bottom: 10px;
}
.average-american-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}
.average-american-buttons-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.results-pie {
  border: 3px solid gray;
}
.results-pie-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.results-pie-breakdown {
  margin-top: 150px;
  margin-left: -100px;
  text-align: left;
}
.results-pie-breakdown-list {
  margin-right: 15px;
}
.recharts-wrapper {
  margin-left: -12%;
}
.recharts-legend-wrapper {
  margin-left: 30%;
}
.compare-bar-chart {
  margin-left: 0;
  align-self: center;
  width: null !important;
}
.compare-bar-chart-legend {
  margin-left: 30%;
}
.display-flex {
  display: flex;
}
.display-flex-around {
  display: flex;
  justify-content: space-around;
}
.state-energy-text {
  font-size: 18px;
  text-align: left;
}
.state-energy-text-h1 {
  font-weight: bold;
  text-align: center;
}
.state-energy-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10 auto;
}
.state-energy-footer-link {
  text-align: center;
  margin: 10px;
}
.state-energy-footer-text {
  vertical-align: center;
  font-size: 18px;
}
.state-energy-footer-text-container {
  text-align: center;
  border: 3px solid gray;
  margin-top: 5px;
}
.energy-map-button {
  text-align: left;
  width: 300px;
  border: 3px solid gray;
  margin: 10px;
}
.land {
  fill: #ddd;
}
.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.circle,
.circle-red,
.circle-orange,
.circle-green,
.circle-yellow,
.circle-black,
.circle-lightblue,
.circle-blue {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}
.circle-red {
  fill: red;
}
.circle-orange {
  fill: orangered;
}
.circle-green {
  fill: green;
}
.circle-yellow {
  fill: yellow;
}
.circle-black {
  fill: black;
}
.circle-lightblue {
  fill: lightblue;
}
.circle-blue {
  fill: blue;
}
.circle:hover {
  fill-opacity: .8 !important;
}
.legend circle {
  fill: none;
  stroke: #ccc;
}
.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
.polygon-bubble {
  fill: #CCC !important;
}
.mesh-bubble {
  stroke: #EEE !important;
}
.energy-map-surce-filter {
  display: 'inline-flex';
  margin: 10px;
  justify-content: flex-start;
}
.left-btn {
  left: 100%;
  background-color: lightblue;
}
.right-btn {
  right: 100%;
  background-color: lightgoldenrodyellow;
}
input[type="checkbox"] {
  transform: scale(1.5, 1.5);
}
#widget-title {
  font-weight: bold;
  font-size: 18;
}
.solar-widget-top-input {
  left: 200px;
  position: absolute;
  width: 100px;
}
.us-energy-header {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 25px;
}
.us-energy-paragraph {
  text-align: left;
  font-size: 18px;
}
.us-energy-map-loading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}
.us-energy-map-container {
  width: 960px;
  border: 3px solid gray;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.us-energy-map-filter {
  display: inline-flex;
  justify-content: space-around;
}
.us-energy-map-filter-button {
  text-align: left;
  width: 300px;
  border: 3px solid gray;
  margin: 10px;
}
.us-energy-map-filter-button-text {
  list-style-type: none;
  font-size: 18px;
}
.costs {
  text-align: left;
  background-color: #d3f9ea;
  margin-bottom: 15px;
}
.costs-page {
  font-size: 18px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
.costs-page-data-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.costs-page-data-table-title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.costs-form-header {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  padding-top: 20px;
}
.costs-form-sub-header {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
}
.costs-form-large-bold-left {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}
.costs-form-sub-text {
  text-align: left;
  font-size: 22px;
  margin-left: 25px;
  margin-right: 15px;
}
.costs-form-explainer {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}
.costs-form-bottom-paragraph {
  margin: 15px;
  font-size: 18px;
}
.costs-footer {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.costs-footer-links {
  display: flex;
  justify-content: space-around;
  border: 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.static-page {
  font-size: 18px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
.static-page h2,
.static-page h3,
.static-page h4 {
  font-weight: bold;
}
.static-page-header,
.static-page-subheader {
  text-align: center;
  font-weight: bold;
}
.static-page-section {
  text-align: left;
}
.static-page-subsection {
  margin-left: 15px;
}
.static-page-table {
  width: 100% !important;
}
.static-page-table-header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.share-page {
  margin-left: 10%;
  margin-right: 10%;
}
.pie {
  border: 3px solid gray;
}
.pie-header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.pie-subheader {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.pie-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.how-much-co2-fact {
  max-width: 450px;
}
.how-much-co2-fact-name {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.how-much-co2-fact-description {
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}
.compare-bar-chart {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.compare-bar-chart-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
