.footprint-main {
  display: initial;
}
.footprint-hero {
  height: 300px;
  width: 100%;
  background-color: lightgray;
}
.footprint-hero-text {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  padding-top: 5rem;
}
.footprint-hero-button {
  text-align: center;
  margin-top: 2rem;
}
.footprint-value-prop-container {
  margin: 3rem 2rem;
}
.footprint-value-prop-image {
  width: 100%;
  height: 100%;
  margin: auto;
}
.footprint-value-prop-text {
  text-align: left;
  font-size: 1.2rem;
  margin: 2rem 0rem;
}
.footprint-how-it-works {
  width: 100%;
  background-color: green;
}
.footprint-how-it-works-cta-text {
  margin: auto;
  color: white;
  font-size: 2rem;
}
.footprint-how-it-works-box {
  background-color: white;
  margin: 2rem;
}
.footprint-how-it-works-box-title {
  text-align: center;
  font-size: 1.5rem;
}
.footprint-how-it-works-box-text {
  text-align: left;
  font-size: 1.2rem;
  margin: 1rem;
}
.footprint-form {
  border: 1px solid gray;
  margin: 10px auto;
  background-color: #d3f9ea;
}
@media only screen and (max-width: 479px) {
  .footprint-form {
    width: 100%;
  }
}
.footprint-form-header {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
.footprint-form-title {
  margin: 0px 0px;
  font-weight: bold;
  border: 1px solid gray;
  text-align: center;
  background-color: white;
}
.footprint-form-subtext {
  margin: 10px 10px;
  font-size: 18px;
  text-align: left;
}
.footprint-form-subtext-center {
  margin: 10px 10p;
  font-size: 18px;
  text-align: center;
}
.footprint-form-sub-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.footprint-form-sub-header-description {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.footprint-form-paragraphs {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}
.footprint-form-bottom-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 50px;
}
.footprint-form-submit-invalid {
  margin: 15px 0;
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.footprint-form-need-help {
  margin: 5px auto;
}
.footprint-form-tab {
  background-color: green !important;
}
.footprint-form-tab-sublevel {
  background-color: #57ad68 !important;
}
.form-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}
.results {
  display: inline;
  text-align: center;
  font-weight: normal;
}
.results-changer {
  text-align: left;
  margin: 20px;
}
.results-changer-row {
  margin-left: 15px;
}
.results-changer-row-explainer {
  margin-left: 15px;
}
.results-text {
  text-align: left;
}
.results-title {
  margin: 20px 0;
  text-align: center;
  font-size: 33px;
}
.results-subtitle {
  margin: 20px 0;
  text-align: center;
  font-size: 26px;
}
.average-american {
  min-width: 650px;
  text-align: center;
  font-size: 18px;
}
@media only screen and (max-width: 479px) {
  .average-american {
    min-width: 0px;
  }
}
.average-american-flex {
  display: flex;
  justify-content: center;
}
.average-american-vs-you-total {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}
.average-american-divider {
  border-left: solid black 2px;
}
.average-american-compare {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 22px;
}
.average-american-compare-subtext {
  font-size: 18px;
  margin-bottom: 10px;
}
.average-american-buttons {
  margin-bottom: 15px;
  margin-top: 15px;
}
.average-american-buttons-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.average-american-button {
  text-align: center;
}
.compare-bar-chart {
  margin-left: 0;
  align-self: center;
  width: null !important;
}
.compare-bar-chart-legend {
  margin-left: 30%;
}
.personal-breakdown {
  margin: auto;
  text-align: center;
}
.personal-breakdown-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}
.personal-breakdown-section-text {
  font-size: 18px;
  margin: 10px 20px;
}
.savings-container {
  margin: 15px auto;
  text-align: center;
  border: solid black 3px;
}
.savings-column {
  text-align: center;
  width: 50%;
  margin: 15px 15px;
}
@media only screen and (max-width: 479px) {
  .savings-column {
    margin: 10px 0px;
  }
}
.savings-card {
  margin-top: 15px;
  border: 1px solid gray;
  text-align: center;
}
.savings-card-title {
  font-weight: bold;
  font-size: 22px;
  margin: 0 15px;
  overflow-wrap: break-word;
}
@media only screen and (max-width: 479px) {
  .savings-card-title {
    margin: 0 5px;
    font-size: 18px;
  }
}
.savings-card-text {
  overflow-wrap: break-word;
}
.savings-title {
  font-size: 26px;
  font-weight: bold;
}
@media only screen and (max-width: 479px) {
  .savings-title {
    font-size: 18px;
  }
}
.display-flex {
  display: flex;
}
.display-flex-around {
  display: flex;
  justify-content: space-around;
}
.state-energy-text {
  font-size: 18px;
  text-align: left;
}
.state-energy-text-h1 {
  font-weight: bold;
  text-align: center;
}
.state-energy-bar-chart-attribution {
  margin: 10px auto;
}
.state-energy-footer {
  padding: 0px 10px;
}
.state-energy-footer-link {
  margin: 5px auto;
  line-height: 1;
}
.state-energy-footer-text {
  vertical-align: center;
  font-size: 18px;
}
.state-energy-footer-text-container {
  text-align: center;
  border: 3px solid gray;
  margin-top: 5px;
}
.energy-map-button {
  text-align: left;
  width: 300px;
  border: 3px solid gray;
  margin: 10px;
}
.land {
  fill: #ddd;
}
.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.circle,
.circle-red,
.circle-orange,
.circle-green,
.circle-yellow,
.circle-black,
.circle-lightblue,
.circle-blue {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}
.circle-red {
  fill: red;
}
.circle-orange {
  fill: orangered;
}
.circle-green {
  fill: green;
}
.circle-yellow {
  fill: yellow;
}
.circle-black {
  fill: black;
}
.circle-lightblue {
  fill: lightblue;
}
.circle-blue {
  fill: blue;
}
.circle:hover {
  fill-opacity: .8 !important;
}
.legend circle {
  fill: none;
  stroke: #ccc;
}
.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
.polygon-bubble {
  fill: #CCC !important;
}
.mesh-bubble {
  stroke: #EEE !important;
}
.energy-map-surce-filter {
  display: 'inline-flex';
  margin: 10px;
  justify-content: flex-start;
}
.left-btn {
  left: 100%;
  background-color: lightblue;
}
.right-btn {
  right: 100%;
  background-color: lightgoldenrodyellow;
}
input[type="checkbox"] {
  transform: scale(1.5, 1.5);
}
#widget-title {
  font-weight: bold;
  font-size: 18;
}
.solar-widget-top-input {
  left: 200px;
  position: absolute;
  width: 100px;
}
.us-energy-header {
  margin: 25px 75px;
}
@media only screen and (max-width: 479px) {
  .us-energy-header {
    margin: 15px 0;
  }
}
.us-energy-paragraph {
  text-align: left;
  font-size: 18px;
}
.us-energy-map-loading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}
.us-energy-map-container {
  width: 960px;
  border: 3px solid gray;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.us-energy-map-filter {
  display: inline-flex;
  justify-content: space-around;
}
.us-energy-map-filter-button {
  text-align: left;
  width: 300px;
  border: 3px solid gray;
  margin: 10px;
}
.us-energy-map-filter-button-text {
  list-style-type: none;
  font-size: 18px;
}
.costs {
  text-align: left;
  background-color: #d3f9ea;
  margin-bottom: 15px;
}
.costs-page {
  font-size: 18px;
  text-align: left;
}
.costs-page-data-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 479px) {
  .costs-page-data-table {
    width: 100%;
    margin: 10px 0;
  }
}
.costs-page-data-table-title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.costs-form-header {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
}
.costs-form-sub-header {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
}
.costs-form-large-bold-left {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}
.costs-form-sub-text {
  text-align: left;
  font-size: 22px;
  margin-left: 25px;
  margin-right: 15px;
}
.costs-form-explainer {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}
@media only screen and (max-width: 479px), only screen and (min-width: 479px) and (max-width: 959px) {
  .costs-form-explainer {
    padding: 0 10px;
  }
}
.costs-form-indented-paragraph {
  padding-left: 40px;
}
@media only screen and (max-width: 479px), only screen and (min-width: 479px) and (max-width: 959px) {
  .costs-form-indented-paragraph {
    padding-left: 10px;
  }
}
.costs-form-list {
  list-style-type: none;
}
.costs-form-bottom-paragraph {
  margin: 15px;
  font-size: 18px;
}
.costs-footer-title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.costs-footer-link {
  margin: 5px 10px;
  font-size: 18px;
}
.costs-footer-link-wrapper {
  text-align: center;
}
.costs-footer-link-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 40px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.no-bullet-list {
  list-style-type: none;
}
.material-ui-nav {
  display: flex;
  background-color: #91e0c0 !important;
}
.material-ui-nav-logo {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 50px;
}
.material-ui-nav-item {
  font-weight: bold !important;
  font-size: 22px !important;
}
.material-ui-nav-item-right {
  margin-left: auto;
}
.material-ui-nav-dropdown {
  line-height: 50px !important;
  margin-right: -35px !important;
  margin-top: -8px;
  font-weight: bold !important;
  font-size: 22px !important;
}
.question {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 40px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 479px), only screen and (min-width: 479px) and (max-width: 959px) {
  .question {
    padding: 0 10px;
  }
}
.question-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.question-name-container {
  display: inline-flex;
}
.question-name-container-boolean {
  display: inline-flex;
}
.question-subtext {
  font-size: 16px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 479px) {
  .question-subtext {
    font-size: 12px;
  }
}
.question-below-text {
  font-size: 14px;
  font-weight: normal;
  margin: 0 20%;
  margin-bottom: 20px;
  margin-top: -10px;
}
@media only screen and (max-width: 479px) {
  .question-below-text {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.question-help {
  display: inline-flex;
}
.question-icon {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  color: mediumpurple;
}
.question-hover-container {
  display: inline-flex;
  margin-right: 8px;
  z-index: 3;
}
.question-boolean {
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
  margin-left: 40%;
}
@media only screen and (max-width: 479px) {
  .question-boolean {
    padding: 0 10px;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 479px) and (max-width: 959px) {
  .question-boolean {
    padding: 0 10px;
    margin-left: 30%;
  }
}
.bar-chart {
  margin: 10px auto;
}
.bar-chart-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
@media only screen and (max-width: 479px) {
  .bar-chart-title {
    margin: 10px 10px;
  }
}
.static-page {
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
.static-page h2,
.static-page h3,
.static-page h4 {
  font-weight: bold;
}
.static-page-header,
.static-page-subheader {
  text-align: center;
  font-weight: bold;
}
.static-page-section {
  text-align: left;
}
.static-page-section-center {
  text-align: center;
}
.static-page-subsection {
  margin-left: 15px;
}
.static-page-table {
  width: 100% !important;
}
.static-page-table-header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.pie {
  border: 3px solid gray;
}
.pie-header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.pie-subheader {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.pie-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.how-much-co2-container {
  display: inline-flex;
}
.how-much-co2-fact {
  max-width: 450px;
}
.how-much-co2-fact-name {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.how-much-co2-fact-description {
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}
