
#widget-title {
    font-weight: bold;
    font-size: 18;
}

.solar-widget-top-input {
    left: 200px;
    position: absolute;
    width: 100px;
}

.transparent-image {
    position: relative;
    overflow: hidden;
}

.transparent-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}


.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}



.circleRed {
  fill: red;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}
.circleOrange {
  fill: orangered;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

.circleGreen {
  fill: green;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

.circleYellow {
  fill: yellow;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

.circleBlack {
  fill: black;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

.circleLightBlue {
  fill: lightblue;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

.circleBlue {
  fill: blue;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

circle:hover {
  fill-opacity: .8 !important;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.polygon-bubble {
  fill: #CCC !important;
}

.mesh-bubble {
  stroke: #EEE !important;
}

.energy-map-surce-filter {
  display: 'inline-flex';
  margin: 10px;
  justify-content: flex-start;
}
