#widget {

}

#widget-title {
    font-weight: bold;
    font-size: 18;
}

.solar-widget-top-div {
}

.solar-widget-top-input {
    left: 200px;
    position: absolute;
    width: 100px;
}

.transparent-image {
    position: relative;
    overflow: hidden;
}

.transparent-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
