@border: 1px solid gray;

.footprint {
    margin-left: 10%;
    margin-right: 10%;

    &-main {
        display: initial;
    }

    &-form {
        border: @border;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 500px;
        background-color: #d3f9ea;

        &-title {
            margin-top: 0px;
            font-weight: bold;
            border: @border;
            text-align: center;
            background-color: white;
        }
        &-header {
            font-weight: bold;
            text-align: center;
        }

        &-sub-header {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: left;

            &-description {
                font-style: italic;
                font-size: 18px;
                margin-bottom: 10px;
                margin-left: 10px;
            }
        }

        &-paragraphs {
            text-align: left;
            font-size: 18px;
            line-height: 1.5;
        }

        &-question {
            margin-top: 10px;
            font-weight: bold;

            &-name {
                font-size: 18px;
                font-weight: bold;
            }

            &-subtext {
                font-size: 18px;
                font-weight: normal;
                margin-top: -10px;
                margin-bottom: 20px;
            }


            &-boolean {
                font-size: 16px;
                font-weight: bold;
                margin-left: 15px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        &-bottom-buttons {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }

        &-submit-invalid {
            margin: 15px 0;
            text-align: center;
            color: red;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.form-divider {
    margin-top: 25px;
    margin-bottom: 25px;
}