@border: 1px solid gray;

.footprint {
    display: flex;

    &-main {
        display: initial;
    }

    &-form {
        border: @border;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 500px;
        background-color: #d3f9ea;

        &-title {
            margin-top: 0px;
            font-weight: bold;
            border: @border;
            text-align: center;
            background-color: white;
        }
        &-header {
            font-weight: bold;
            text-align: center;
        }

        &-sub-header {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }

        &-paragraphs {
            text-align: left;
            font-size: 18px;
            line-height: 1.5;
        }

        &-question {
            margin-top: 10px;

            &-name {
                font-size: 18px;
                font-weight: bold;
            }

            &-boolean {
                margin-left: 15px;
            }
        }

        &-bottom-buttons {
          display: flex;
          justify-content: space-between;
        }
    }
}

.form-divider {
    margin-top: 25px;
    margin-bottom: 25px;
}