.results {
    display: inline;
    text-align: center;
    font-weight: normal;

    &-changer {
        text-align: left;
        margin-bottom: 20px;
        
        &-row {
            margin-left: 15px;
            &-explainer {
                margin-left: 15px;
            }
        }
    }   
    &-text {
        text-align: left;
    }
    &-title {
        text-align: left;
        font-size: 33px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.average-american {
    min-width: 650px;
    text-align: center;
    font-size: 18px;

    &-flex {
        display: flex;
        justify-content: center
    }

    &-vs-you-total {
        display: flex;
        justify-content: space-around;
        max-width: 600px;
    }
    &-divider {
        border-left: solid black 2px;
    }
    &-compare {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 22px;

        &-subtext {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &-buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        margin-top: 15px;

        &-text {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    &-button {
        text-align: center;
    }
}


.results-pie {
    border: 3px solid gray;

    &-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    &-breakdown {
        margin-top: 150px;
        margin-left: -100px;
        text-align: left;

        &-list {
            margin-right: 15px;
        }
    }
}

.recharts {
    
    &-wrapper {
        margin-left: -12%;
    }

    &-legend-wrapper {
        margin-left: 30%;
    }
}

.compare {
    &-bar-chart {
        margin-left: 0;
        align-self: center;
        width: null !important;

        &-legend {
            margin-left: 30%;
        }
    }
    
}

.display-flex {
    display: flex;
 
    &-around {
        display: flex;
        justify-content: space-around;
    }
}