.results {
    text-align: center;
    font-weight: normal;

    &-text {
        text-align: left;
    }
    &-button {
        white-space: nowrap;
        margin: 5px 5px;
    }
    &-buttons {
        border-collapse: collapse;
        margin-bottom: 40px;

        &-container {
            display: flex;
            justify-content: space-around;
            min-width: 650px;
        }

        &-header {
            background-color: rgb(240, 240, 240);
            &-cell {
                padding: 0 10px;
                font-size: 20px;
                font-weight: bold;
                border: 1px solid black;
            }
        }
        
        &-cell {
            border: 1px solid black;
        }
    }
}

.average-american {
    min-width: 650px;
    text-align: center;
    font-size: 18px;

    &-flex {
        display: flex;
        justify-content: center
    }

    &-vs-you-total {
        display: flex;
        justify-content: space-around;
        max-width: 600px;
    }
    &-divider {
        border-left: solid black 2px;
    }
    &-compare {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 22px;
    }
    &-buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        margin-top: 15px;

        &-text {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}


.results-pie {
    border: 3px solid gray;

    &-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    &-breakdown {
        margin-top: 150px;
        margin-left: -100px;
        text-align: left;

        &-list {
            margin-right: 15px;
        }
    }
}

.recharts {
    
    &-wrapper {
        margin-left: -12%;
    }

    &-legend-wrapper {
        margin-left: 30%;
    }
}

.compare {
    &-bar-chart {
        margin-left: 0;
        align-self: center;
        width: null !important;

        &-legend {
            margin-left: 30%;
        }
    }
    
}